html {
  font-size: 62.5%;
}

body {
  margin: 50px;
}

.container {
  width: 50px;
  height: 200px;
  background: #000;
  display: flex;
  align-items: center;
  border-radius: 100px 20px 100px 20px;
}

.button {
  color: #fff;
  width: 120px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
  background: none;
  border-radius: 10px;
  transition: 0.4s;
}

.btn-text {
  font-size: 1.6rem;
  display: none;
  padding-right: 10px;
}

.fa-solid {
  color: white;
  padding: 10px 17.5px 10px 12.5px;
  font-size: 1.5rem;
}

.btns {
  padding-left: 5px;
}

.button:hover {
  background: rgb(215, 82, 129);
  cursor: pointer;
}

.button:hover .btn-text {
  display: inline;
}
